.footerContainer{
    background-color: #20B2AA;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.socialMedia{
    width: 150px;
    height: 50px;
    background-color: #fcd7385c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    color: black;
    border: 1px dashed black;
    border-radius: 5px;
}